@charset "UTF-8";

.container {
  width: 40%;
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.svg {
  width: 20%;
  color: white;
  border: 3px solid #000000;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal axis center*/
  align-items: center; /* vertical axis center*/
}

.hidden {
  display: none;
}

.svg img {
  width: 50%;
}

.bike {
  width: 75%;
}

.svg p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.selected {
  background-color: cyan;
}

.svg:hover {
  background-color: #98fffc;
  cursor: pointer;
}

.headContainer {
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(0,255,246,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(0,255,246,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(0,255,246,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.headContainer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#light {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 2px;
}

#superLight {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}

#bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.svgTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.footContainer {
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(205,205,205); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(205,205,205,1) 0%, rgba(152,255,252,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(205,205,205,1) 0%,rgba(152,255,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(205,205,205,1) 0%,rgba(152,255,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#98fffc',GradientType=0 ); /* IE6-9 */
}

.footContainer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
